* {
    margin: 0;
    padding: 0;
    color: #4d4e53;
    box-sizing: border-box;
}
.App {
    text-align: center;
    position: relative;
}
header {
    font-size: 20px;
    padding: 20px 30px;
    text-align: start;
    line-height: 1.5;
    font-weight: bolder;
}
nav {
    position: fixed;
    height: 100%;
    width: 300px;
    border-right: 1px solid rgba(0, 22, 22, 0.4);
}
nav ul {
    position: absolute;
    height: 100%;
    width: 300px;
    margin: 0;
}
main-section ul {
    margin: 0;
}
nav ul li {
    width: 100%;
    list-style: none;
    font-size: 18px;
    line-height: 1.5;
    text-align: start;
    padding: 10px 30px;
}
nav ul li:first-child {
    border-top: 1px solid rgba(0, 22, 22, 0.4);
}
nav ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 22, 22, 0.4);
}
.main-section header {
    font-size: 20px;
    padding: 20px 0px;
    text-align: start;
    line-height: 1.5;
    font-weight: bolder;
}
article ul {
    width: 90%;
    margin-left: auto;
}
article ul li {
    margin-bottom: 20px;
}
main {
    margin-left: 320px;
    margin-right: 30px;
    text-align: start;
    font-size: 18px;
}
p {
    margin-bottom: 10px;
}
