@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
  color: rgb(69, 72, 69);
}

.board {
  background: rgb(69, 72, 69);
  width: 350px;
  height: 350px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.5rem;
}

.squares {
  background: #fff;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}

.X {
  color: rgb(251, 0, 0);
}
.O {
  color: rgb(4, 229, 4);
}

.info-wrapper {
  display: flex;
  justify-content: center;
}

h3 {
  padding: 1rem;
  color: rgb(69, 72, 69);
}

li {
  list-style: none;
}

.info-wrapper button {
  background: rgb(69, 72, 69);
  color: rgb(69, 72, 69);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}
