* {
    margin: 0;
    padding: 0;
}
h1 {
    text-transform: uppercase;
    padding: 40px;
    text-align: center;
    background-color: black;
    color: #fff;
    font-family: Tahoma;
}
ul {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    /* gap: 7px; */
}
li {
    height: 40vh;
    flex-grow: 1;
}
li:last-child {
    flex-grow: 10;
}
/* li::after {
    content: "";
    flex-grow: 10;
} */
img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* Portrait */
@media (max-aspect-ratio: 1/1) {
    li {
        height: 30vh;
    }
}

/* Short screens */
@media (max-height: 480px) {
    li {
        height: 80vh;
    }
}

/* Smaller screens in portrait */
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }
    li {
        height: auto;
        width: 100%;
    }
    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}
