.App {
    width: 70%;
    margin: auto;
}
.title {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 10px 15px;
}
.content {
    margin: 10px;
}
.tokyo {
    background-color: red;
}
.paris {
    background-color: green;
}
.abuja {
    background-color: dodgerblue;
}
.oslo {
    background-color: orange;
}
.list {
    padding: 10px 12px;
}
.menuIcon {
    position: absolute;
    right: 15px;
    top: 10px;
}
