* {
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: black;
}

.squares {
  border: none;
  outline: none;
  cursor: pointer;
  background: #000;
  font-size: 2rem;
}
.board {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.25rem;
}
.X {
  color: red;
}
.O {
  color: green;
}
.status {
  text-align: center;
}
