.App {
    text-align: center;
}

button {
    background-color: #fff;
    padding: 10px;
    margin-left: 10px;
    border-radius: 20px;
    width: 100px;
    text-transform: uppercase;
}
.reset {
    border: 2px solid grey;
    color: grey;
}
.stop {
    border: 2px solid red;
    color: red;
}
.pause {
    border: 2px solid goldenrod;
    color: goldenrod;
}
.play {
    border: 2px solid green;
    color: green;
}
